@model IEnumerable<crmUrbano.Models.Catalogo>

@{
    ViewData["Title"] = "Agregar";
}
<div class = "container">
    <hr>
<h1>AGREGAR O EDITAR UN INMUEBLE</h1>

<p>
    <a asp-action="Create">Agregar Nuevo Inmueble</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            <h5 @Html.DisplayNameFor(model => model.Name)>Detalles Inmueble</h5>
                 
            </th>
            <th>
                <h5 @Html.DisplayNameFor(model => model.Direccion)>Direccion</h5>
            </th>
            <th>
               <h5 @Html.DisplayNameFor(model => model.Price)>Precio</h5>
            </th>
            <th>
              <h5  @Html.DisplayNameFor(model => model.ImagenName)>Nombre de Imagen</h5>
            </th>
            <th>
              <h5  @Html.DisplayNameFor(model => model.Status)>Estado</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>