@model crmUrbano.Models.Carrito

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro que quieres borrar?</h3>
<div>
    <h4>Carrito - Ventas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
          <h5  @Html.DisplayNameFor(model => model.Usuario)>Usuario</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario)
        </dd>
        <dt class = "col-sm-2">
            <h5 @Html.DisplayNameFor(model => model.Price)>Precio</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
          <h5  @Html.DisplayNameFor(model => model.Name)>Detalle Inmueble</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Borrar" class="btn btn-primary" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
