@model IEnumerable<crmUrbano.Models.Carrito>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}
@if (SignInManager.IsSignedIn(User))
{
     @if(UserManager.GetUserName(User).Equals("diegodsqs3@gmail.com")){
         <h1>VENTAS GENERALES</h1>
         <hr size="5px" width="30%" align="left" color="#000000"/>
     }else
     {
         <h1>CARRITO VENTAS</h1>
         <hr size="5px" width="30%" align="left" color="#000000"/>
     }
}



<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Usuario)>Cliente</h4> 
            </th>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Price)>Precio</h4>
            </th>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Direccion)>Dirección</h4>
            </th>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Name)>Detalles</h4> 
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price).000
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
@if (SignInManager.IsSignedIn(User))
{
     @if(UserManager.GetUserName(User).Equals("diegodsqs3@gmail.com")){
         <td>

                <a asp-action="Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Ver Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
        </td>
     }
     else{

        <td>
        <a asp-action="Delete" asp-route-id="@item.ID">Borrar</a>
        </td>

     }
}
                
            
        </tr>
}
    </tbody>
</table>
 <hr size="5px" width="30%" align="left" color="#000000"/>
      @{
         var total = 0.0;
         var contar = 1;
      }
      @foreach (var item in Model){
         <tr>
            @{
               total = total + item.Price;
               contar++;
            }
         </tr>
      }

<div class="container">
     

         <h5 >Monto Total: $ @total.000 </h5> 
<hr size="5px" width="5%" align="left" color="#000000"/>
         <a href="/MetodoPago/metodopago" class="btn btn-primary text-white" >CONTINUAR</a> 
</div>
