@model IEnumerable<crmUrbano.Models.Carrito>

@{
    ViewData["Title"] = "Index";
}

<h1>CARRITO VENTAS</h1>
<hr size="5px" width="30%" align="left" color="#000000"/>

<!--<p>
    <a asp-action="Create">Create New</a>
</p>-->
<table class="table">
    <thead>
        <tr>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Usuario)>Cliente</h4> 
            </th>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Price)>Precio</h4>
            </th>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Direccion)>Dirección</h4>
            </th>
            <th>
               <h4 @Html.DisplayNameFor(model => model.Name)>Detalles</h4> 
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
